.top-bar{
    display: flex;
}




h1{ font-family:futura-medium;
    font-style: normal;
    font-weight: bold;

}
.about{
    color:#black;
    font-family:futura-medium;
    font-style: normal;
    font-size:2vw;
    margin:20px;
    padding:20px;
    text-align:center;
    border: 5px solid #D1953A;
    border-radius: 10px;

}
.previous{
    color:#black;
    font-family:futura-medium;
    font-style: normal;
    font-size:2vw;
    margin:20px;
    padding:20px;
    text-align:center;
    border: 5px solid #D1953A;
    border-radius: 10px;
}
.organisers{
    
    color:#black;
    font-family:futura-medium;
    font-style: normal;
    font-size:2vw;
    margin:20px;
    padding:20px;
    text-align:center;
    border: 5px solid #D1953A;
    border-radius: 10px;
}
    .wrapper {
        display: grid;
        grid-template-columns: 25% 75%;
        min-height: 100vh;
      }
      
      .navigation {
        padding: 16px;
        text-align: center;
        position:-webkit-sticky;
        position:sticky;
        top:0;
      }
      @media (max-width: 767px) { 
        .left-column{
                display:none;
              }
        }
    }
          
      .menu {
        display: flex;
        flex-direction: column;
      }
      
      .menu-link {
      color:  black;
      font: arial;
      }
      
      .logo {
        display: inline-block;
        width: 149px;
        height: 212px;
      }
