.wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  min-height: 100vh;
}
.navigation {
  padding: 16px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-link {
color:  black;
font: arial;
}

.logo {
  display: inline-block;
  width: 149px;
  height: 212px;
}

.container {
  position: absolute;
  top: 300px;
  right: 300px;
  max-width: 700px;
}

.heading {
  position: absolute;
  top: 80px;
  right: 510px;
  max-width: 700px;
}

h1 {
  font-size: 40px;
  font-style: arial;
}
