.imagegrid {
  flex: 0 0 75%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.image-pub {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thirsty {
  background-image: url('../images/thirsty.jpg');
}

.boathouse {
  background-image: url('../images/boathouse.jpg');
}

.portland {
  background-image: url('../images/portland_arms.jpg');
}

.waterman {
  background-image: url('../images/waterman.jpg');
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.navigation {
  flex: 0 0 25%;
  padding: 16px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
}

.pub-name {
  display: none;
  text-align: center;
  color: white;
}

.image-pub:hover > .pub-name  {
  display: block;
}

.menu-link {
color:  black;
font: arial;
}

.logo {
  display: inline-block;
  width: 149px;
  height: 212px;
}

@media screen and (max-width: 375px) {
  .wrapper {
    flex-direction: column;
  }
  .imagegrid {
    min-height: 200vh;
    grid-template-columns: 100%;
  }
}
