.top-bar {
  display: flex;
}

.navigation {
  padding: 16px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-link {
color:  black;
font: arial;
}

.logo {
  display: inline-block;
  width: 149px;
  height: 212px;
}

.url {
  font-family: futura-medium;
  font-style: normal;
  font-weight: bold;

  color: #2F586E;
}

h1 {
  width: 900px;
  height: 31px;
  top: 298px;

  font-family: futura-medium;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 31px;
  text-align: center;

  color: #2F586E;
}

img.imgs {
  width: 400px;
  height: 200px;
  display: flex;
  border: 5px solid #D1953A;
  border-radius: 10px;
}

body {
  font-family: futura-medium;
}

button {
  font-family: futura-medium;
}

.bottom-bar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.map {
  flex-direction: row;
  justify-content: right;
  padding-left: 350px;
}

@media screen and (max-width: 375px) {
  .wrapper {
    flex-direction: column;
  }
  .overall {
    min-height: 200vh;
    grid-template-columns: 100%;
  }
}
